@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#menu-32 .mbr-brand__name {
  font-size: 16px;
}
#menu-32.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-32 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-32 .mbr-navbar__items a {
  font-size: 17px;
}
#menu-32 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}
#header1-3 H1 {
  text-align: left;
  color: #e25041;
  font-size: 36px;
}
#header1-3 P {
  color: #000000;
}
#header1-3 .btn {
  font-size: 15px;
}
#header1-3 B {
  color: #000000;
}
#features1-6 .mbr-section-title .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  color: #252525;
}
#features1-6 .mbr-section__col .mbr-header__text {
  font-size: 25px;
}
#features1-6 P {
  font-size: 20px;
}
#features1-34 .mbr-section-title .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
#features1-34 P {
  color: #ffffff;
}
#contacts1-33 P {
  text-align: left;
  font-size: 14px;
}

#menu-42 .mbr-brand__name {
  font-size: 16px;
}
#menu-42.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-42 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-42 .mbr-navbar__items a {
  font-size: 17px;
}
#menu-42 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}
#content5-27 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-27 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-27 .mbr-article {
  color: #fff;
}
#content5-27 .mbr-article P {
  font-size: 32px;
}
#content5-27 .mbr-article H1 {
  color: #000000;
  font-size: 23px;
}
#msg-box3-40 .mbr-header .mbr-header__text {
  text-align: center;
  color: #e25041;
}
#msg-box3-40 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-40 .mbr-article UL {
  text-align: left;
}
#form1-23 .mbr-header__text {
  color: #e25041;
}
#msg-box2-70 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-70 .mbr-article {
  color: #252525;
}
#contacts1-50 P {
  text-align: left;
  font-size: 14px;
}

#menu-41 .mbr-brand__name {
  font-size: 16px;
}
#menu-41.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-41 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-41 .mbr-navbar__items a {
  font-size: 17px;
}
#menu-41 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}
#content5-49 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
}
#content5-49 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-49 .mbr-article {
  color: #fff;
}
#msg-box3-46 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-46 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-46 .mbr-article UL {
  font-size: 20px;
  color: #252525;
}
#buttons1-50 .btn {
  font-size: 15px;
}
#contacts1-45 P {
  text-align: left;
  font-size: 14px;
}

#menu-51 .mbr-brand__name {
  font-size: 16px;
}
#menu-51.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-51 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-51 .mbr-navbar__items a {
  font-size: 17px;
}
#menu-51 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}
#content5-52 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
}
#content5-52 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-52 .mbr-article {
  color: #fff;
}
#content5-41 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-size: 20px;
}
#content5-41 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-41 .mbr-article {
  color: #fff;
}
#content5-41 .mbr-article P {
  color: #252525;
  font-size: 20px;
}
#msg-box3-53 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 22px;
}
#msg-box3-53 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-53 .mbr-article UL {
  font-size: 21px;
  text-align: left;
  color: #000000;
}
#content5-42 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-size: 22px;
}
#content5-42 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-42 .mbr-article {
  color: #fff;
}
#content5-42 .mbr-article P {
  color: #252525;
  font-size: 21px;
}
#buttons1-54 .btn {
  font-size: 15px;
}
#contacts1-57 P {
  text-align: left;
  font-size: 14px;
}

#menu-58 .mbr-brand__name {
  font-size: 16px;
}
#menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-58 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-58 .mbr-navbar__items a {
  font-size: 17px;
}
#menu-58 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-63 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-63 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-62 P {
  text-align: left;
  font-size: 14px;
}

#menu-64 .mbr-brand__name {
  font-size: 16px;
}
#menu-64.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-64 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-64 .mbr-navbar__items a {
  font-size: 17px;
}
#menu-64 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-65 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-65 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-68 P {
  text-align: left;
  font-size: 14px;
}
